@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin:0;
     padding:0;
     scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh minmax(80vh, auto) minmax(20vh, auto);
    margin:0;
    padding:0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.4em;
    grid-gap: 0px;
    background:#F4F6F6;
}

h1 {
    font-size: 0.8em;
    margin: 0%;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    margin: 0%;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

h4 {
    font-size: 0.7em;
    font-weight: bold;
    color: #36B6BB;
    line-height: 0em;
}

p {
    font-size: 1.0em;
    font-weight: lighter;
    line-height: 1.6em;
}

span {
    color: #36B6BB;
    font-weight: bold;
}

ul, ol {
    line-height: 2.5em;
}

a { 
    text-decoration: none;
    top: 0px;
    position: relative;
    transition: all .1s ease-in;
}

a:visited { 
    text-decoration: none; 
    color:#F4F6F6; 
}

a:hover { 
    text-decoration: none; 
    color:#F4F6F6; 
}

a:focus { 
    text-decoration: none; 
    color:#F4F6F6; 
}

a:hover, a:active { 
    text-decoration: none; 
    top: -2px;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 0px;
    line-height: 26px;
    height: 2.4em;;
    margin: 2%;
    background: #36B6BB;
    color: #F4F6F6;
    font-weight: bold;
    font-size: .8em;
    padding: 0% 3% 0% 3%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    white-space: nowrap;
}

/* navigation */
header {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

nav {
    width: 100%;
    padding: 45px 0 15px;
  }

.branding {
    position: fixed;
    float: left;
    display: flex;
    flex-direction: row;
}

#header-container {
    display: flex;
    flex-direction: row;
    padding: 2% 2% 0% 2%;
    color: #F4F6F6;
    position: relative;
    flex: 1;
    align-items: center;
}

.header-item a {
    color: #F4F6F6;
}

#header-logo {
    background: url(../images/airplane-logo.png);
    width: 70px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 2% 1% 0% 0%;
}

#nav-list {
    display: none;
    list-style: none;
    margin: 15px 0px 0px 0px;
    padding: 0px;
  }

nav ul {
    /* float: right; */
    position: relative;
    width: 97%;
    text-align: right;
    background: #89C9D0;
  }

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 30px;
    line-height: 60px;
    background: #89C9D0;
    color: #F4F6F6;
    text-decoration: none;
  }

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #89C9D0;
    color: #22395c;
}

.nav-mobile {
    /* display: block; */
    position: fixed;
    background: url(../images/hamburger-menu-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 2%;
    right: 2%;
    height: 30px;
    width: 40px;
    cursor: pointer;
  }

#login {
    background: url(../images/person-icon-white.png);
    padding: 3%;
    height: 3%;
    margin: 15px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 30px center;
}

/* #header-middle {
    flex: 1;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.header-item {
    margin: 10px;
    font-size: 0.6em;
    font-weight: bolder;
    word-wrap: break-word;
    max-width: 60%
}

#nav-explore-button {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10000;
    position: fixed;
    margin: 2% 0% 0% 0%;
    right: 1%;
    display: none;
}

/* main content */
main {
    grid-area: 1 / 1 / 3 / 2; 
}

article {
    min-height: 60vh;
    padding: 4% 4% 4% 4%;
}

#section-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../images/under-water.jpg);
    min-height: 100vh;
    color: #F4F6F6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#s1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20vh 2vh 0vh 2vh;
}

#trip-planning-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box {
    background: #F4F6F6;
    margin: 1% 0% 1% 0%;
    border-radius: 4px;
    border: 0px;
    line-height: 2em;
    font-size: 0.7em;
    height: 48px;
    text-indent: 12px;
}

.how-to-container {
    display: grid;
    grid-template-rows: repeat(3, minmax(20vh,auto));
    padding: 5% 0% 15% 0%;
}

.how-to-content {
    color: #22395c;
    background: #F4F6F6;
    display: grid;
    grid-gap: 0%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.how-to-description {
    font-size: 0.8em;
}

.how-to-left {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0% 10% 0% 10%;
} 

.how-to-right {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0% 10% 0% 10%;
}

.box {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 30vh;
    border-radius: 5%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#how-to-desc-1 {
    grid-row: 1;
}

#how-it-works-box1 {
    background: #8A8C8F;
}

#how-it-works-box2 {
    background: #22395c;
}

#how-it-works-box3 {
    background: #89C9D0;
}

#section-3 {
    background: #22395c;
    display: grid;
    grid-template-columns: 100vw;
    align-content: start;
    overflow-wrap: break-word;
}

#section-3 > * {
    grid-column: 2 / -2;
  }
  
#section-3 > .full {
    grid-column: 1 / -1;
  }

#s3-content {
    color: #F4F6F6;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 80%);
    grid-template-rows: minmax(100px, 1fr);
    grid-gap: 10vw;;
    padding: 30% 5% 20% 5%;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card-container::-webkit-scrollbar {
    display: none;
  }

.card {
    background: #F4F6F6;
    min-height: 30vh;
    border-radius: 5%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    position: relative;
    transition: all .1s ease-in;
    top: 0;
    color: #36B6BB;
    display: inline-block;
    padding: 0px 0px 5px 0px;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

.card-thumb {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    display: block;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
    border: 0px;
}

.card-description {
    margin: 50px 15px 20px 15px;
}

.card-copy {
    font-size: 0.6em;
    color: #8A8C8F;
    padding: 0px 15px 10px 15px;
}

#s4-content {
    color: #22395c;
    display: flex;
    flex-direction: column;
}

#spotlight-description {
    font-size: 0.8em;
    font-weight: lighter;
}

.spotlight-details {
    padding: 18% 5% 20% 5%;
}

.spotlight-img {
    height: 230px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#spotlight-img-1 {
    background-image: url(../images/ireland.jpg);
}

#spotlight-img-2 {
    display: none;
}

#spotlight-img-3 {
    display: none;
}

#nav-explore-button-bottom {
    float: left;
    width: 50%;
    margin: 0px;
}

/* footer */
footer {
    background: #89C9D0;
    grid-area: 3 / 1 / 4 / 2; 
    color: #F4F6F6;
    font-size: 0.6em;
    text-align: center;
    margin: 40px 0px 40px 0px;
    padding: 8%;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5em;
    color: #F4F6F6;
}

a.footer-detail {
    color: #F4F6F6;
}


@media (min-width: 600px) {}


@media (min-width: 900px) {
    body {
        display: grid;
        grid-template-rows: 20vh minmax(20vh, auto) minmax(20vh, auto);
    }

    .nav-mobile {
        top: 6%;
    }

    #login {
        padding: 1.5%;
        height: 1.5%;
        margin: 15px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 30px center;
    }
 
    #s1-content {
        padding: 30vh 0vh 0vh 0vh;
    }

    #trip-planning-form {
        flex-direction: row;
    }

    .form-box {
        margin: 0% 0.25% 0% 0.25%;
    }

    .how-to-container {
        grid-template-rows: repeat(3, minmax(80vh,auto));
        padding: 5% 5% 5% 5%;
    }

    .how-to-content {
        grid-gap: 0% 5%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    
    .box {
        height: 55vh;
    }

    #how-to-desc-1 {
        grid-column: 2;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15vh;
        padding: 10% 5% 5% 5%;
    }
    
    .card {
        min-height: 50vh;
    }
    
    #card1 { grid-area: 1 / 1 / 2 / 2; }
    #card2 { grid-area: 1 / 2 / 2 / 3; }
    #card3 { grid-area: 1 / 3 / 2 / 4; }
    #card4 { grid-area: 2 / 1 / 3 / 2; }
    #card5 { grid-area: 2 / 2 / 3 / 3; }
    #card6 { grid-area: 2 / 3 / 3 / 4; }

    #desination-photo-gallery {
        display: flex;
        flex-direction: row;
    }

    .spotlight-img {
        padding: 0% 15% 0% 15%;
        margin: 0% 4% 0% 0%;
        background-size: cover;
    }

    #spotlight-img-2 {
        display: initial;
        background-image: url(../images/ireland2.jpg);
    }

    #spotlight-img-3 {
        display: initial;
        background-image: url(../images/ireland3.jpg);
    }

    .spotlight-details {
        padding: 7% 5% 7% 5%;
    }

    #nav-explore-button-bottom {
        width: 25%;
    }
} 